body{
    background-image: linear-gradient(45deg, rgb(55, 255, 55), rgb(0, 255, 179));
}

nav{
    display: flex;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(45deg, rgb(155, 77, 228),rgb(132, 0, 255));
}

#nav-name{
    display: inline-block;
    font-size: xx-large;
    padding: 5%;
}

#nav-links{
    display: inline-block;
    width: 500px;
    font-size: larger;
    font-weight: bold;
}

a{
    padding: 5%;
}

#bulk{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#container{
    justify-self: center;
    align-self: center;
    
}

h3{
    display: block;
}

h1{
    display: block;
    font-size: 600%;
}

p{
    width: 500px;
}


