body{
    background-image: linear-gradient(45deg, rgb(55, 255, 55), rgb(0, 255, 179));
    min-height: 100vh;
}

nav{
    display: flex;
    /*height: 5%;*/
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(45deg, rgb(155, 77, 228),rgb(132, 0, 255));
}

#nav-name{
    display: inline-block;
    font-size: x-large;
    padding: 1.5%;
    padding-left: 3%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#nav-links{
    display: inline-block;
    width: 500px;
    font-size: larger;
    font-weight: bold;
}

a{
    padding-right: 5%;
}

/*#bulk{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}*/

#container{
    height: 1000%;
    display: flex;
    justify-content: center;
    align-content: center;
}

/*h3{
    
}*/

h1{
    /*display: ;*/
    font-size: 600%;
}

p{
    width: 500px;
}


